@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: white;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(9,17,124,1) 39%, rgba(0,255,225,1) 100%);
    background: cover;

    
}

.encabezado{
    width: 100%;
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
    background-color: black;

    top: 0;
    position: sticky;
    z-index: 1; 
}
.nav{
    width: 90%;
    margin: auto;
    --padding-container: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.nav_perfil{
    width: auto;

    margin-left: auto;
}
.btnPerfil{
  width: 65px;
  height: 65px;
  margin-top: 9px;

  border: none;
  background-color: white;
  border-radius: 50%;
  background-image: url('../../resource/images/usuarioImagen.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
.btnPerfil:hover{
    background-color: crimson;
}

/* ..................................................................................... */
.contenedor{
    background-color: black;
    margin: 30px;
    padding: 30px;

    border-radius: 25px;
    border: 1px solid white;
}
.tablaPc{    
    width: 100%;
    border-collapse: collapse;
}

.tablaPc tr th{
    border-bottom: 1px solid white ;
    padding: 5px;
}
.tablaPc tr .th_btn{
    border-bottom: none;
    width: 65px;
}
.tablaPc tr .th_star{
    width: 50px;
}
.tablaPc tr dt{
    padding: 5px;
}
.tablaPc tr:nth-of-type(even){
    background-color: rgb(20, 20, 20);
}
.btnContacto{
    width: 65px;
    height: 30px;
    margin: 3px;

    margin-right: 5px;

    border-radius: 15px;
    border: 1px solid white;
    background-color: black;
}
.btnContacto:hover{
    background-color: olivedrab;
}
/* ...................ESTRELLAS..................... */
.star-button {
    width: 25px;
    height: 25px;
    background-color: #2ef87f;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    outline: none;
     clip-path: polygon(
        50% 0%, 
        67% 30%, 95% 35%, 
        75% 58%, 
        80% 90%, 
        50% 73%, 
        20% 90%, 
        25% 60%, 
        5% 35%, 35% 30%
      );
}
.star-button:hover{
    background-color: #333;
}
.td_star{
    padding: 7px;
}



@media screen and (max-width: 650px){
    .htable{
        display: none;
    } 
}
/* ..................................................................................... */
.contenedorPerfil{
    
    width: 300px;
    height: 330px;
    text-align: center;

    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    position: fixed;
    padding: 25px;

    right: 10px;
    top: 85px;
    z-index: 1;

    display: none;
}
.usuarioImagen2{
    width: 150px;
}
.btnCerrarS{
    width: 100%;
    height: 40px;

    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: crimson;

    font-weight: bold;
}
.btnCerrarS:hover{
    background-color: white;
    color: black;

}