@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: white;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(9,17,124,1) 39%, rgba(0,255,225,1) 100%);
    background: cover;
    
    text-align: center;
}
.encabezado{
    width: 100%;
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
    background-color: black;

    top: 0;
}
.nav{
    width: 90%;
    margin: auto;
    --padding-container: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.nav_perfil{
    width: auto;

    margin-left: auto;
}
.btnPerfil{
  width: 65px;
  height: 65px;
  margin-top: 9px;

  border: none;
  background-color: white;
  border-radius: 50%;
  background-image: url('../../resource/images/usuarioImagen.png');
  background-size: cover; /* Puedes ajustar esto según tus necesidades */
  background-repeat: no-repeat;
  background-position: center;
}
.btnPerfil:hover{
    background-color: olivedrab;
}
/* ................................................................................. */
.contenedor{
    background-color: black;
    
    width: 70%;
    height: 350px;

    display:inline-block;
    margin-top: 70px;
    padding: 25px;

    text-align: center;
    flex-direction: row;

    border-radius: 25px;
}

.imgUsers{
    width: 200px;
    height: auto;
}
.contenedorImg{
    width: 200px;
    height: 200px;

    background-color: crimson;
    border-radius: 15px;
    display:  inline-block;
} 
@media screen and (max-width: 500px){
    .contenedor{
        width: 65%;
        height: 425px;
    }

}
/* ..................................................................................... */
.contenedorPerfil{
    
    width: 300px;
    height: 330px;
    text-align: center;

    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    position: fixed;
    padding: 25px;

    right: 10px;
    top: 85px;
    z-index: 1;

    display: none;
}
.usuarioImagen2{
    width: 150px;
}
.btnCerrarS{
    width: 100%;
    height: 40px;

    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: crimson;

    font-weight: bold;
}
.btnCerrarS:hover{
    background-color: white;
    color: black;

}